*.bmp
*.wav
*.mp3
*.mp4
*sublime*
Library/
Temp/
*.sln
*.csproj
*.DS_Store
*.tmp
*$*
.vs/
obj/
ProjectSettings/GraphicsSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
